{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-widget">
            <div class="navbar-ico-widget">
                <a href="{% url 'index' %}"><img src="{% static 'img/twitter.png' %}" class="navbar-ico"></a>
            </div>
            <ul class="navbar-menu">
                {% if user.is_authenticated %}
                <li class="navbar-li">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/house-solid.svg' %}" class="navbar-ico-second">Главная
                    </a>
                </li>
                <li class="navbar-li">
                    <a href="">
                        <img src="{% static 'img/hashtag-solid.svg' %}" class="navbar-ico-second">Поиск
                    </a>
                </li>
                <li class="navbar-li">
                    <a href="">
                        <img src="{% static 'img/envelope-solid.svg' %}" class="navbar-ico-second">Сообщения
                    </a>
                </li>
                <li class="navbar-li">
                    <a href="{% url 'favourites' %}">
                        <img src="{% static 'img/bookmark-solid.svg' %}" class="navbar-ico-second">Избранное
                    </a>
                </li>
                <li class="navbar-li">
                    <a href="{% url 'profile_url' %}">
                        <img src="{% static 'img/user-solid.svg' %}" class="navbar-ico-second">Профиль
                    </a>
                </li>
                {% else %}
                <li class="navbar-li active">
                    <a href="{% url 'authorisation' %}">
                        <img src="{% static 'img/house-solid.svg' %}" class="navbar-ico-second">Главная
                    </a>
                </li>
                <li class="navbar-li">
                    <a href="{% url 'authorisation' %}">
                        <img src="{% static 'img/hashtag-solid.svg' %}" class="navbar-ico-second">Поиск
                    </a>
                </li>
                <li class="navbar-li">
                    <a href="{% url 'authorisation' %}">
                        <img src="{% static 'img/envelope-solid.svg' %}" class="navbar-ico-second">Сообщения
                    </a>
                </li>
                <li class="navbar-li">
                    <a href="{% url 'authorisation' %}">
                        <img src="{% static 'img/bookmark-solid.svg' %}" class="navbar-ico-second">Избранное
                    </a>
                </li>
                <li class="navbar-li">
                    <a href="{% url 'authorisation' %}">
                        <img src="{% static 'img/user-solid.svg' %}" class="navbar-ico-second">Профиль
                    </a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <div class="send-ad-widget">
                <a href="">
                    <button class="send-ad">Твитнуть</button>
                </a>
            </div>
            {% else %}
            <div class="send-ad-widget">
                <a href="{% url 'authorisation' %}">
                    <button class="send-ad">Твитнуть</button>
                </a>
            </div>
            {% endif %}
        </div>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <div class="sidebar-widget">
        <div class="search-widget">
            <form action="{% url 'search_url'%}" method="GET" class="search-form">
                <img src="{% static 'img/magnifying-glass-solid.svg' %}" class="search-ico">
                <input type="text" placeholder="Поиск в Твиттер" class="input-search">
            </form>
        </div>  
        <div class="most-popular-posts">
            <p>Аккаунты с большим числом фолловеров</p> <!--Блок Аслана-->
        </div>
    </div>
    <script src="{% static 'js/dropdown.js' %}"></script>
</body>
</html>