{% extends 'base.html' %}
{% load static %}
{% block title %}
Авторизация
{% endblock %}
{% block content %}
<div class="authorisation">
    <div class="authorisation-widget">
        <p class="author-title">Для дальнейшего взаимодействия с сайтом, необходимо авторизоваться. Выберите одно из ниже приведенных действий.</p>
        <div class="author-btn-widget">
            <a href="{% url 'login' %}" class="author-link">
                <button class="author-btn">Войти в аккаунт</button>
            </a>
            <a href="{% url 'register' %}" class="author-link">
                <button class="author-btn">Зарегистрироваться</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}