{% extends 'base.html' %}
{% load static %}
{% block title %}
Редактирование профиля
{% endblock %}
{% block content %}
<p class="edit-title">Edit your profile</p>
<div class="edit_container">
    <form action="">
        <a href="">
            <div class="edit_profileimg">
                <img src="{% static 'img/camera.png' %}" style="height: 50px;">
            </div>
        </a>
        <div class="input_container">
            <input type="text" class="edit_input" placeholder="Name">
            <textarea class="edit_input" placeholder="Bio" style="resize: none;"></textarea>
            <input type="text" class="edit_input" placeholder="Location">
        </div>
    </form>
</div>
<button class="edit-button" type="submit">save</button>
{% endblock %}