{% extends 'base.html' %}
{% load static %}
{% block title %}
Избранные объявления
{% endblock %}
{% block content %}
<div class="container-top">
    <p style="font-weight: bold; font-size: large; margin-bottom: 0;">Избранные объявления</p>
    <p style="color: gray; margin: 0;">{{user.username}}</p>
</div> 
{% for post in post %}
<div class="twitter-card">
    <div class="twitter-card-avatar-widget">
        <!--конструкция if по фотке юзера-->
        <img src="{% static 'img/icons8-user-64.png' %}" class="twitter-card-avatar"> <!--Заглушка на img юзера-->
    </div>
    <div class="twitter-card-body-widget">
        <div class="twitter-card-name">
            <p class="twitter-card-name-title" style="margin: 0;">{{post.post.author}}</p>
        </div>
        <div class="twitter-card-position">
            <img src="{% static 'img/flag-solid.svg' %}" class="flag-icon">
            <p class="twitter-card-position-title">{{post.post.title}}</p>
        </div>
        <div class="twitter-card-text">
            <p class="twitter-card-text-p">{{post.post.text}}</p>
        </div>
        <div class="twitter-card-widgets">
            <img src="{% static 'img/thumbs-up-solid.svg' %}" class="heart-icon">
            <p style="margin: 0; margin-right: 10%;">3000</p>
            <img src="{% static 'img/comment-solid.svg' %}" class="comment-icon">
            <p style="margin: 0;">2500</p>
            <img src="{% static 'img/heart-solid (1).svg' %}" class="favourite-icon">
        </div>
    </div>
</div>
{% empty %}
<div class="favourites-empty-widget">
    <img src="{% static 'img/favourites.png' %}">
    <p style="color: gray;">Пока-что тут пусто, вы можете добавить твит в избранное, нажав на иконку сердечка, снизу твита.</p>
</div>
{% endfor %}
{% endblock %}