{% extends 'base.html' %}
{% load static %}
{% block title %}
Главная
{% endblock %}
{% block content %}
<div class="container-top">
    <p style="font-weight: bold; font-size: large;">Главная</p>
    <form action=""> <!--форма add post-->
        <!--конструкция if по фотке юзера-->
        <div class="container-top-widget">
            <img src="{% static 'img/circle-user-solid.svg' %}" class="user-icon">
            <input type="text" class="container-text" placeholder="Что нового?">
        </div>
        <hr>
        <div class="container-top-btn-widget">
            <label for="photo" class="photo-label">
                <img src="{% static 'img/image-solid.svg' %}" class="image-icon">
            </label>
            <input type="file" id="photo" style="visibility: hidden;">
            <button class="container-top-btn">Твитнуть</button>
        </div>
    </form>
</div>
<div class="container-body">
    <div class="twitter-card">
        <div class="twitter-card-avatar-widget">
            <!--конструкция if по фотке юзера-->
            <img src="{% static 'img/circle-user-solid.svg' %}" class="twitter-card-avatar"> <!--Заглушка на img юзера-->
        </div>
        <div class="twitter-card-body-widget">
            <div class="twitter-card-name">
                <p class="twitter-card-name-title" style="margin: 0;">Даниил</p>
                <p class="twitter-card-username" style="margin: 0;">@DaniilAndreevich</p>
            </div>
            <div class="twitter-card-position">
                <img src="{% static 'img/flag-solid.svg' %}" class="flag-icon">
                <p class="twitter-card-position-title">Белый дом в Бухарской области</p>
            </div>
            <div class="twitter-card-text">
                <p class="twitter-card-text-p">Today, I spoke with President López Obrador of Mexico. We discussed the importance of working together across our broad and deep agenda — including competitiveness, regional growth, and humane and effective efforts to reduce irregular migration Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia incidunt saepe dignissimos atque numquam asperiores doloremque. Recusandae earum distinctio similique officia quia dolorum ad necessitatibus quisquam culpa? Aperiam, voluptas voluptatum.</p>
            </div>
            <div class="twitter-card-widgets">
                <img src="{% static 'img/thumbs-up-solid.svg' %}" class="heart-icon">
                <p style="margin: 0; margin-right: 10%;">3000</p>
                <img src="{% static 'img/comment-solid.svg' %}" class="comment-icon">
                <p style="margin: 0;">2500</p>
                <a href="" style="margin-left: 10%;">
                    <img src="{% static 'img/heart-solid (1).svg' %}" class="favourite-icon">
                </a>
            </div>
        </div>
    </div>
    <div class="twitter-card">
        <div class="twitter-card-avatar-widget">
            <!--конструкция if по фотке юзера-->
            <img src="{% static 'img/circle-user-solid.svg' %}" class="twitter-card-avatar"> <!--Заглушка на img юзера-->
        </div>
        <div class="twitter-card-body-widget">
            <div class="twitter-card-name">
                <p class="twitter-card-name-title" style="margin: 0;">Даниил</p>
                <p class="twitter-card-username" style="margin: 0;">@DaniilAndreevich</p>
            </div>
            <div class="twitter-card-position">
                <img src="{% static 'img/flag-solid.svg' %}" class="flag-icon">
                <p class="twitter-card-position-title">Белый дом в Бухарской области</p>
            </div>
            <div class="twitter-card-text">
                <p class="twitter-card-text-p">Today, I spoke with President López Obrador of Mexico. We discussed the importance of working together across our broad and deep agenda — including competitiveness, regional growth, and humane and effective efforts to reduce irregular migration</p>
            </div>
            <div class="twitter-card-widgets">
                <img src="{% static 'img/thumbs-up-solid.svg' %}" class="heart-icon">
                <p style="margin: 0; margin-right: 10%;">3000</p>
                <img src="{% static 'img/comment-solid.svg' %}" class="comment-icon">
                <p style="margin: 0;">2500</p>
                <img src="{% static 'img/heart-solid (1).svg' %}" class="favourite-icon">
            </div>
        </div>
    </div>
</div>
{% endblock %}