{% extends 'base.html' %}
{% load static %}
{% block title %}
Главная
{% endblock %}
{% block content %}
<div class="container-top">
    <p style="font-weight: bold; font-size: large;">Home</p>
    {% if user.is_authenticated %}
    <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data"> <!--форма add post-->
        <!--конструкция if по фотке юзера-->
        {% csrf_token %}
        <div class="container-top-widget">
            <img src="{% static 'img/circle-user-solid.svg' %}" class="user-icon">
            <div class="container-top-widget-block">
                <!-- <input type="text" class="container-text" value="{{ user.name }}" name="name" required readonly> -->
                <!-- <input type="text" class="container-text" value="{{ user.username }}" name="author" required readonly> -->
                <input type="text" class="container-text" placeholder="What's happening?" name="text" required>
                <input type="text" class="container-title" placeholder="Title for your post" name="title" required>
            </div>
        </div>
        <div class="container-top-btn-widget">
            <label for="photo" class="photo-label">
                <img src="{% static 'img/image-solid.svg' %}" class="image-icon">
            </label>
            <input type="file" id="photo" style="visibility: hidden;">
            <button class="container-top-btn">Твитнуть</button>
        </div>
    </form>
    {% else %}
    <a href="{% url 'authorisation' %}" style="text-decoration: none;">
        {% csrf_token %}
        <div class="container-top-widget">
            <img src="{% static 'img/circle-user-solid.svg' %}" class="user-icon">
            <div class="container-top-widget-block">
                <input type="text" class="container-text" placeholder="What's happening?" name="text" required>
                <input type="text" placeholder="Title for your post" name="title" required class="container-title">
            </div>
        </div>
        <div class="container-top-btn-widget">
            <label for="photo" class="photo-label">
                <img src="{% static 'img/image-solid.svg' %}" class="image-icon">
            </label>
            <input type="file" id="photo" style="visibility: hidden;">
            <button class="container-top-btn">Твитнуть</button>
        </div>
    </a>
    {% endif %}
</div>
<div class="container-body">
    {% for post in post %}
    <div class="twitter-card">
        <div class="twitter-card-avatar-widget">
            <!--конструкция if по фотке юзера-->
            <img src="{% static 'img/circle-user-solid.svg' %}" class="twitter-card-avatar"> <!--Заглушка на img юзера-->
        </div>
        <div class="twitter-card-body-widget">
            <div class="twitter-card-name">
                <p class="twitter-card-name-title" style="margin: 0;">{{post.author}}</p>
            </div>
            <div class="twitter-card-position">
                <p class="twitter-card-position-title">{{post.title}}</p>
            </div>
            <div class="twitter-card-text">
                <p class="twitter-card-text-p">{{post.text}}</p>
            </div>
            <div class="twitter-card-widgets">
                <img src="{% static 'img/thumbs-up-solid.svg' %}" class="heart-icon">
                <p style="margin: 0; margin-right: 10%;">3000</p>
                <img src="{% static 'img/comment-solid.svg' %}" class="comment-icon">
                <p style="margin: 0;">2500</p>
                <a href="{% url 'add_to_favourites' post.id %}" style="margin-left: 10%;">
                    <img src="{% static 'img/heart-solid (1).svg' %}" class="favourite-icon">
                </a>
                <a href="{% url 'delete_post' post.id %}" style="margin-left: 10%;">
                    <img src="{% static 'img/trash-can-solid.svg' %}" class="trash-icon">
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}