{% extends 'base.html' %}
{% load static %}
{% block title %}
Профиль
{% endblock %}
{% block content %}
<div class="profile-content">
    <div class="profile-edit-widget">
        <img src="{% static 'img/circle-user-solid.svg' %}" class="profile-user-avatar"> <!--Заглушка на img юзера-->
        <div class="profile-edit-btn-widget">
            <button class="edit-profile-btn" style="width: 100%;">
                <a href="{% url 'index' %}">Edit profile</a>
            </button>
            <button class="edit-profile-btn">
                <a href="{% url 'logout' %}">Logout profile</a>
            </button>
        </div>
    </div>
    <div class="user-description">
        <p class="profile-username">Даниил</p>
        <p class="profile-nickname">@DaniilAndreevich</p>
        <p class="profile-description">web developer</p>
        <div class="user-follow">
            <p class="user-following"><span class="follow-span">2</span> Following</p>
            <p class="user-followers"><span class="follow-span">0</span> Followers</p>
        </div>
    </div>
</div>
{% endblock %}