{% extends 'base.html' %}
{% load static %}
{% block title %}
Профиль
{% endblock %}
{% block content %}
<div class="profile-content">
    <div class="profile-edit-widget">
        <img src="{% static 'img/circle-user-solid.svg' %}" class="profile-user-avatar"> <!--Заглушка на img юзера-->
        <div class="profile-edit-btn-widget">
            <button class="edit-profile-btn" style="width: 80%; margin-bottom: 3%;">
                <a href="{% url 'edit_profile' %}">Edit profile</a>
            </button>
            <button class="edit-profile-btn" style="width: 80%;">
                <a href="{% url 'logout' %}">Logout profile</a>
            </button>
        </div>
    </div>
    <div class="user-description">
        <p class="profile-username">{{user.username}}</p>
        <p class="profile-description">{{user.opisanie}}</p>
        <div class="user-follow">
            <span class="follow-span">2 Following</span>
            <span class="follow-span-second">0 Followers</span>
        </div>
    </div>
</div>
{% endblock %}