body{
    margin: 0;
    font-family: chirp, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    display: flex;
}
@font-face {
    font-family: chirp;
    src: url(/twitter_app/static/css/fonts/twitterchirp.ttf);
}
.navbar{
    width: 20%;
    display: flex;
    justify-content: center;
    border-right: gray solid 0.5px;
}
.navbar-li{
    list-style-type: none;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: max-content;
}
.navbar-li:hover{
    background-color: gainsboro;
    cursor: pointer;
}
.navbar-ico-widget{
    padding-top: 15%;
}
.navbar-ico{
    width: 35px;
}
.navbar-menu{
    padding: 0;
}
.active{
    color: black;
    font-weight: bold;
}
.navbar-ico-second{
    width: 20px;
    padding-right: 5px;
}
.send-ad{
    padding: 12px 45px 12px 45px;
    background-color:rgb(29, 155, 240);
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 17px;
}
.send-ad-widget{
    display: flex;
    justify-content: center;
}
.send-ad:hover{
    cursor: pointer;
}
.container{
    width: 50%;
    margin-left: 0.3%;
    margin-right: 0.3%;
}
.search-widget{
    width: 30%;
    border-left: gray solid 0.5px;
    padding-left: 0.3%;
}
.navbar-li a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.search-ico{
    width: 20px;
    margin-right: 5%;
}
.search-form{
    display: flex;
    margin-left: 10%;
    margin-top: 2%;
    width: 75%;
    align-items: center;
    background-color: rgb(239, 243, 244);
    padding-top: 10px;
    padding-left: 3%;
    border-radius: 20px;
    padding-bottom: 10px;
}
.input-search::placeholder{
    font-size: 15px;
}
.input-search{
    border: none;
    background-color: rgb(239, 243, 244);
    outline: none;
}
.container-wigdet{
    display: block;
}
.user-icon{
    width: 40px;
}
.container-top{
    padding-left: 3%;
    padding-right: 3%;
}
.container-top-widget{
    display: flex;
    align-items: center;
}
.container-text{
    padding: 20px 20px 20px 8px;
    border: none;
    font-size: large;
    width: 80%;
}
.container-text:focus{
    outline: none;
}
.container-text::placeholder{
    font-size: large;
}
.image-icon{
    width: 20px;
}
.container-top-btn-widget{
    display: flex;
    justify-content: space-between;
}
.container-top-btn{
    background-color:rgb(29, 155, 240);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    font-size: medium;
    border-radius: 10px;
}
.photo-label{
    padding-left: 1%;
}
.authorisation{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.author-btn-widget{
    display: flex;
    justify-content: center;
}
.author-btn{
    margin-left: 25px;
    background-color: rgb(29, 155, 240);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    padding: 7px 15px 7px 15px;
}
.author-btn:hover{
    cursor: pointer;
}
.author-link{
    color: white;
    text-decoration: none;
}
.author-title{
    font-size: 18px;
    text-align: center;
    color: black;
}
.twitter-card{
    display: flex;
    border-top: gray solid 0.5px;
    margin-top: 3%;
    padding-top: 2%;
    padding-left: 1%;
}
.twitter-card-avatar{
    width: 50px;
}
.twitter-card-name-title{
    color: black;
    font-weight: bold;
}
.twitter-card-username{
    color: gray;
    padding-left: 7px;
}
.twitter-card-name{
    display: flex;
    padding-top: 1%;
    padding-left: 5px;
}
.twitter-date-post{
    color: gray;
    padding-left: 7px;
}
.flag-icon{
    width: 13px;
    margin-right: 1%;
}
.twitter-card-position{
    display: flex;
    margin-left: 1.3%;
}
.twitter-card-position-title{
    margin: 0;
    color: gray;
}
.twitter-card-text-p{
    margin: 0;
    margin-top: 7px;
    margin-left: 0.8%;
}
.heart-icon{
    width: 20px;
    margin-right: 5px;
}
.comment-icon{
    width: 20px;
    margin-right: 5px;
}
.twitter-card-widgets{
    display: flex;
    margin-top: 1.5%;
    margin-left: 1%;
}
.favourite-icon{
    width: 20px;
    margin-right: 5px;
    margin-left: 10%;
}