body{
    margin: 0;
    font-family: chirp, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    display: flex;
}
@font-face {
    font-family: chirp;
    src: url(/twitter_app/static/css/fonts/twitterchirp.ttf);
}
.navbar{
    width: 20%;
    display: flex;
    justify-content: center;
    border-right: gray solid 0.5px;
}
.navbar-li{
    list-style-type: none;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: max-content;
}
.navbar-li:hover{
    background-color: gainsboro;
    cursor: pointer;
}
.navbar-ico-widget{
    padding-top: 15%;
}
.navbar-ico{
    width: 35px;
}
.navbar-menu{
    padding: 0;
}
.active{
    color: black;
    font-weight: bold;
}
.navbar-ico-second{
    width: 20px;
    padding-right: 5px;
}
.send-ad{
    padding: 12px 45px 12px 45px;
    background-color:rgb(29, 155, 240);
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 17px;
    transition: all 0.3s ease;
}
.send-ad:hover{
    background-color: white;
    box-shadow: inset rgb(29, 155, 240) 0 0 0 3px;
    transition: all 0.3s ease;
    color: rgb(29, 155, 240);
    cursor: pointer;
}
.send-ad-widget{
    display: flex;
    justify-content: center;
}
.send-ad:hover{
    cursor: pointer;
}
.container{
    width: 50%;
    margin-left: 0.3%;
    margin-right: 0.3%;
}
.navbar-li a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.container-wigdet{
    display: block;
}
.user-icon{
    width: 40px;
}
.container-top{
    padding-left: 3%;
    padding-right: 3%;
}
.container-top-widget{
    display: flex;
    border-bottom: solid gray 0.5px;
    padding-bottom: 2%;
    align-items: center;
}
.container-text{
    padding: 8px 20px 8px 8px;
    width: 60%;
    margin-bottom: 2%;
    border-radius: 8px;
    border: solid gray 0.5px;
}
.container-text:focus{
    outline: none;
    box-shadow: inset 0 0 0 2px rgb(29, 155, 240);
    padding: 9px 22px 9px 8px;
    border: none;
}
.container-text::placeholder{
    font-size: medium;
}
.image-icon{
    width: 20px;
}
.container-top-btn-widget{
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
}
.container-top-btn{
    background-color:rgb(29, 155, 240);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    font-size: medium;
    border-radius: 10px;
}
.container-top-btn:hover{
    cursor: pointer;
}
.photo-label{
    padding-left: 1%;
}
.authorisation{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.author-btn-widget{
    display: flex;
    justify-content: center;
}
.author-btn{
    margin-left: 25px;
    background-color: rgb(29, 155, 240);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    padding: 7px 15px 7px 15px;
}
.author-btn:hover{
    cursor: pointer;
}
.author-link{
    color: white;
    text-decoration: none;
}
.author-title{
    font-size: 18px;
    text-align: center;
    color: black;
}
.twitter-card-body-widget{
    width: 100%;
}
.twitter-card{
    display: flex;
    border-top: gray solid 0.5px;
    margin-top: 2%;
    padding-top: 2%;
    padding-left: 1%;
}
.twitter-card-avatar{
    width: 50px;
}
.twitter-card-name-title{
    color: black;
    font-weight: bold;
}
.twitter-card-name{
    display: flex;
    margin-top: 1%;
    margin-left: 5px;
}
.twitter-date-post{
    color: gray;
    padding-left: 7px;
}
.flag-icon{
    width: 13px;
    margin-right: 1%;
}
.twitter-card-position{
    margin-left: 5px;
    width: 100%;
}
.twitter-card-position-title{
    margin: 0;
    color: gray;
}
.twitter-card-text-p{
    margin: 0;
    margin-top: 7px;
    margin-left: 0.8%;
}
.twitter-card-text{
    width: 100% !important;
    margin-bottom: 1.5%;
}
.heart-icon{
    width: 20px;
}
.comment-icon{
    width: 20px;
}
.twitter-card-widgets{
    display: flex;
    margin-top: 1.5%;
    width: 45%;
    justify-content: space-between;
    margin-left: 1%;
}
.twitter-card-widgets div{
    display: flex;
    align-items: center;
}
.favourite-icon{
    width: 20px;
    margin-left: 3%;
}
.trash-icon{
    width: 15px;
    margin-left: 3%;
}
.favourites-empty-widget{
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
}
.register-form input{
    padding: 7px 10px 7px 10px;
    outline: none;
    border: gray solid 0.5px;
}
.register-form label{
    display: block;
    padding-bottom: 3px;
}
.register-form-widget{
    display: flex;
    justify-content: center;
}
.register-btn{
    background-color: rgb(29, 155, 240);
    border: none;
    color: white;
    padding: 7px 0 7px 0;
    width: 100%;
    font-weight: bold;
    font-size: medium;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.register-form input:focus{
    border: solid 0.5px gray;
    padding: 7px 10px 7px 10px;
    box-shadow: inset rgb(29, 155, 240) 0 0 4px 1px;
}
.register-btn:hover{
    background-color: white;
    box-shadow: rgb(29, 155, 240) 0 0 0 3px;
    color: rgb(29, 155, 240);
    transition: all 0.3s ease;
    cursor: pointer;
}
.login-twitter label{
    display: block;
    padding-bottom: 3px;
}
.login-twitter input{
    padding: 10px 15px 10px 15px;
    border: gray solid 0.5px;
    margin-bottom: 5%;
}
.login-twitter input:focus{ 
    padding: 10px 15px 10px 15px;
    box-shadow: inset rgb(29, 155, 240) 0 0 6px 1px;
    border-radius: 0;
    outline: none;
}   
.login-btn{
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    font-weight: bold;
    font-size: medium;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.login-btn:hover{
    background-color: white;
    box-shadow: inset rgb(29, 155, 240) 0 0 0 3px;
    color: rgb(29, 155, 240);
    transition: all 0.3s ease;
    cursor: pointer;
}
.login-form{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.error-login{
    color: darkred;
}
.profile-user-avatar{
    width: 120px;
}
.profile-content{
    margin-left: 1%;
    margin-top: 3%;
    margin-right: 3%;
}
.profile-edit-widget{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit-profile-btn{
    border: solid gray 0.5px;
    padding: 5px 10px 5px 10px;
    font-size: medium;
    font-weight: bold;
    background-color: transparent;
    border-radius: 15px;
    transition: all ease 0.1s;
}
.edit-profile-btn p{
    opacity: 0.8;
    margin: 0;
}
.edit-profile-btn:hover{
    cursor: pointer;
    border: solid rgb(29, 155, 240) 0.5px;
    color: rgb(29, 155, 240);
    transition: all ease 0.1s; 
}
.profile-username{
    font-weight: bold;
    font-size: larger;
    margin: 0;
    margin-top: 3%;
}
.user-description{
    margin-left: 1%;
}
.profile-nickname{
    margin-top: 0;
}
.profile-description{
    opacity: 0.9;
}
.user-follow{
    display: flex;
}
.user-followers{
    margin-top: 0;
    color: gray;
}
.user-following{
    margin-top: 0;
    color: gray;
    margin-right: 5%;
}
.sidebar-widget{
    border-left: gray solid 0.5px;
    width: 30%;
}
.search-form-widget{
    display: flex;
    align-items: center;
}
.search-form{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.search-form-background{
    width: 80%;
    background-color: #EFF3F4;
    padding: 2% 3% 2% 3%;
    border-radius: 15px;
}
.search-input{
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 2%;
    width: 100%;
    background-color: transparent;
}
.search-input::placeholder{
    font-size: 15px;
}
.edit-profile-btn a{
    text-decoration: none;
    color: black;
}
.edit-profile-btn:hover a{
    color: rgb(29, 155, 240);
}
.follow-span{
    color: black;
    font-weight: bold;
}
.accaunt{
    height: 10px;
}
.edit-title{
    font-weight: bold;
    font-size: x-large;
    margin-top: 1.8%;
}
.container-top-widget-block{
    margin-left: 1%;
}
.container-title{
    padding: 7px 20px 7px 8px;
    width: 60%;
    border: solid gray 0.5px;
    border-radius: 8px;
}
.container-title:focus{
    outline: none;
}
.container-title::placeholder{
    font-size: medium;
}
.delete-container-widget{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.delete-title{
    font-weight: bold;
}
.delete-btn{
    background-color: #1D9BF0;
    border: none;
    padding: 3% 4% 3% 4%;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.delete-btn:hover{
    box-shadow: inset 0 0 0 3px #1D9BF0;
    background-color: white;
    color: #1D9BF0;
    transition: all 0.3s ease;
    cursor: pointer;
}
.delete-container{
    text-align: center;
}
.search-empty{
    height: 100%;
    display: flex;
    justify-content: center;
}
.search-empty-title{
    align-self: center;
    font-weight: bold;
}